@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
}
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin pc{
    color: #3d1101;
}

@mixin bgc {
    background: #efe9e7;
}

@mixin title {
    font-size: 72px;
	font-weight: 500;
	color: #4f4f4f;}

