* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0px;
}

h1 {
  color: white;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  background-color: rosybrown;
}

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(184, 131, 101);

}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 100%;
}

.banner {
  width: 100%;
  height: 90vh;
  margin: auto;
  background-image: url("../img/house.png");
  background-position: center;
  background-repeat: no-repeat;
 
}

.links {
  width: 100%;
  height: 70px;
  background-color: rgb(242, 225, 212);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

#blockA{
  
  width: 100%;
  height: 80vh;
  display: flex;
}
#blockA .left{
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/IMG_7319.jpg");
  display: flex;
  align-items: center
  ;
  justify-content: center;
  padding: 100px;

}
#blockA .right{
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/IMG_7318.jpg");
  display: flex;
align-items: center
;
justify-content: center;
  padding: 100px;
}
#blockA .right .text{
  font-size: 24px;
  color: white;
 
  

}
#blockA .left .text{
  font-size: 24px;
  color: white;

}





#blockB {
  width: 100%;
  height: 80vh;
}

#blockB .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blockB .container .img {
  width: 70%;
  height: 70%;
  background-image: url("../img/florist.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#blockB .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-right: 20px;
  width: 60%;
  height: 60%;
}

#blockB .container .text h3 {
  font-size: 24px;
  font-weight: bold;
}

#blockB .container .text p {
  font-size: 18px;
}

#blockE{
  width: 100%;

}
#blockE .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px; 
}
#blockE .container .news{
  width: 100%;
  height: 300px;
  
  margin-bottom:50px;
  display: flex;
}


#blockE .container .news:nth-child(2){
 flex-direction: row-reverse;
 margin-bottom: unset;
}



#blockE .container .news .img{
  width: 47.5%;
  height: 100%;
  
  background-image: url("../img/IMG_7317.jpg");
  background-position: center ;
  background-size: contain;
  background-repeat: no-repeat;
}


#blockE .container .news .text{
  width: 47.5%;
  height: 100%;
 
  font-size: 24px;
  

  display: flex;
  align-items: center;
  padding: 0 120px;
}
#move{
  margin-right:5% ;


}

#move-2{
  margin-left:5% ;


}

#blockD{
  
  width: 100%;
  height: 60vh;
  background-image: url("../img/截圖\ 2021-04-25\ 上午11.33.35.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

background-attachment: fixed;


}


#blockF{
  width: 100%;
 

}
#blockF .container{
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 50px;
}
#blockF .container .card{
  width: 30%;
  height: 500px;
  
  
}
#blockF .container .card .img{
  width: 100%;
  height: 50%;
  background-image: url("../img/IMG_7328.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#blockF .container .card .text{width: 100%;
  height: 50%;
  padding: 10% 15%;
font-size: 18px;
}

#blockC{
  width: 100%;
 
  height: 100vh;
  position: relative;
}

#blockC .img{
  width: 100%;
  height: 100%;
background-image: url("../img/room.jpg");

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
z-index: -1;
top: 0px;
right: 0px;


}
#blockC .container{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

 color: white;
}
#blockC .container p{
  font-size: 24px;
}
footer{
  width: 100%;
  height: 70px;
  background-color: rgb(184, 131, 101);

}
