.cart-container{
    max-width: 64rem;
}

.cart-bar{
    
    width: calc(100% - 2.5rem - 1rem);
    height: .5rem;
    border-radius: .25rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    background-color: rgb(229,231,235);


}



@media(max-width:768px){
    .cart-container{
        max-width: 28rem;
    }
}