/* 初始化 */

*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

a{
    color: unset;
}
ul,li{ 
    padding:0;margin:0;list-style:none
}
a:hover{
    color: unset;
    text-decoration: unset;
}
a:visited{
    color: unset;
}
nav{
    
    position: relative;
    
}
.my-clear-float{
    clear: both;
}
.my-nav{
    width: 100%;
    
    padding: 0;
}
.my-nav-btn{
    padding: 8px 16px;
    margin-left: 16px ;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;

}
.my-nav-btn:hover{
    background-color: rgb(229,231,235);
    

}
.my-logo-container{
    height: 92px;
    padding: 16px;
    float: left;
}
nav img{
    height: 100%;
}
.nav-link{
    padding: 0;
}
.my-nav-container{
    max-width: 1280px;
    padding: 0 32px;

}


.navbar-collapse.my-height{
    height: 92px;
}
.my-loginbtn{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;    
    z-index: 20;
    width: 192px;
   

}

#login-dropdown:checked~.my-loginbtn{
    display: block;
}
.my-loginbtn:hover{
    background-color: rgb(229,231,235);
    

}

/* container */
.my-container {
    width: 100%;
    max-width: 1536px;
}

/* padding */
.my-p-05{
    padding: .5rem;
}
.my-p-1024{
    padding-left: 2.5rem;
    padding-right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
}
.my-p-2{
    padding: 2rem;
}
.my-px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.my-px-1-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.my-px-1-25 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.my-px-025{
    padding-left: .25rem;
    padding-right: .25rem;
}
.my-py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.my-py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.my-pl-75{
    padding-left: 0.75rem;
}
.my-pl-md-5{
    padding-left: 5rem;
}
.my-pb-25{
    padding-bottom: 2.5rem;
}
.my-pb-1-25{
    padding-bottom: 1.25rem;
}
/* margin */
.my-mt-75 {
    margin-top: .75rem;
}
.my-mt-4 {
    margin-top: 4rem;
}

.my-mb-5{
    margin-bottom: 5rem;
}
.my-mb-25 {
    margin-bottom: 2.5rem;
}
.my-mb-1-25 {
    margin-bottom: 1.25rem;
}
.-my-mb-25 {
    margin-bottom: -2.5rem;
}
.my-mb-75 {
    margin-bottom: .75rem;
}
.my-mb-05{
    margin-bottom: .5rem;
}
.my-ml-75 {
    margin-left: .75rem;
}
.my-ml-1{
    margin-left: 1rem;
}
.my-mx-05{
    margin:0 -.5rem ;
}
.my-mx-1{
    margin:0 -1rem;
}
.my-mt-md-25{
    margin-top: 0;
}

.my-mr-75{
    margin-right: 0.75rem;
}
.my-mr-8{
    margin-right: 8rem;
}
.my-mr-640-5{
    margin-right: 2.5rem;
}
.my-ml-640-5{
    margin-left: 2.5rem;
}
/* height,width */
.h-1 {
    height: .25rem;
}
.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}
.w-4 {
    width: 1rem;
}
.w-5 {
    width: 1.25rem;
}
.h-4 {
    height: 1rem;
}
.h-5 {
    height: 1.25rem;
}
.w-10 {
    width: 2.5rem;
}
.w-16 {
    width: 4rem;
}
.w-lg-60per{
    width: 60%;
}
.w-20 {
    width: 5rem;
}
.w-64 {
    width: 16rem;
}

.h-48 {
    height: 12rem;
}
.h-32 {
    height: 8rem;
}
.my-h-10{
    height: 10rem;
}
.my-h-1024-16{
    height: 100%;
    
}
/* border */
.border-2 {
    border-width: 2px;
}
.rounded-full {
    border-radius: 9999px;
}


.border-b-2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.border-l-2 {
    border-left-width: 2px;
    border-left-style: solid;
}
/* 顏色 */
.border-gray-100 {
    
    border-color: rgba(243,244,246);
}
.border-gray-200 {
    
    border-color: rgb(229,231,235);
}
.border-gray-300 {
    
    border-color: rgb(209,213,219);
}
.bg-indigo-500 {
   
    background-color: rgb(99,102,241);
}
.bg-indigo-500:hover {
    
    background-color: rgb(79,70,229);}
.bg-gray-100 {
        
    background-color: rgb(243,244,246);
}
.bg-gray-200 {
    
    background-color: rgba(229,231,235);
}
.bg-gray-300 {
    
    background-color: rgb(209,213,219);
}
.bg-gray-700 {
   
    background-color: rgb(55,65,81);
}

.text-indigo-500 {
    color: rgba(99,102,241);}

.text-blue-500 {
   
    color: rgb(59,130,246);}
.text-gray-600 {
       
    color: rgb(75,85,99);
}
.text-gray-500 {
       
    color: rgb(107,114,128);
}
    
/* 字體內容 */
.tracking-widest {
    letter-spacing: .1em;
}


.my-font-1-5{
    font-size: 1.5rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
/* main 以內內容 */
#carouselIndicators.my-height{
    height: calc(100vh - 92px);
}
.carousel-inner.my-height{
    height: 100%;
}


#carouselIndicators.my-height{
    height: calc(100vh - 92px);
}
.carousel-inner.my-height{
    height: 100%;
}

.my-img-container{
    height: 100%;
    width: 100%;
}
.carousel-item.my-height{
    height: 100%;
}
#car-pic1{
    background-image: url(../img/bgc.jpg);
}
#car-pic2{
    background-image: url(../img/bgc2.jpg);
}
#car-pic3{
    background-image: url(../img/bgc3.jpg);
}


.section1 .my-textarea p.my-width{
    width: 50%;
}

.my-position-0{
    top: 0;
    left: 0;
}




.Heading-pic{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
 
   
   background-color: rgb(224,231,255);
    
}


.section3 .my-width{
    width: 66%;
}

.table th,.table td {
    padding: .75rem 1rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    font-weight:normal;
}

.section5 .Heading-pic{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
 
   
   background-color: rgb(224,231,255);
    
}
.section5 svg{
    height: 4rem;
}
.flex-640{
    display: flex;
    flex-direction: row;
    text-align: start;
    border-bottom: 1px solid #dee2e6;
}
.order640-2{
    order: 2;
}
.section6 .my-width{
    width: 80%;
}


@media (max-width: 1536px){
   
.my-container {
    max-width: 1280px;
}
}


@media (max-width:1280px){
    .section1 .my-textarea p.my-width{
        width: 75%;
    }
    .my-container {
        max-width: 1024px;
    }
}
@media (max-width: 1024px){
    .my-container {
        max-width: 768px;
    }
    .section3 .my-width{
        width: 100%;
    }
    .w-lg-60per{
        width: 100%;
    }
    .section6 .my-width{
        width: 100%;
    }
    
}
@media (max-width:992px){
    .section1 .my-textarea p.my-width{
        width: 100%;
    }
    .my-h-1024-16{
        height: 16rem;
        
    }
    .my-p-1024{
        padding-left:0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom:0;
        margin-top: 1.5rem;
    }
}

@media (max-width:768px){
    .my-nav-container {
        
        padding: 0 16px;
    }
    .my-container {
        max-width: 640px;
    }
    .my-pl-md-5{
        padding-left: 0;
    }
    .my-mt-md-25{
        margin-top: 2.5rem;
    }
    .navbar-nav{
        position:relative;
        top: 0;
        transition: unset;
        left: -24px;
        width: 100vw;
        padding: 0 16px;
        z-index: 50;
    }
    .nav-item{
        transition: unset;
    }
    .navbar-collapse.my-height{
        height:fit-content;
        padding-bottom:  1rem;
    }
    .my-logo-container{
        height: 77px;
       float: none;
    }
    .navbar-toggler.my-orderreset{
       
        height: 77px;
        position: absolute;
        top: 0%;
        right: 0;
        border: none;
        
       
    }
    .my-nav-btn{
        width: 100%;
        padding: 8px 16px;
        margin: 8px 0 0;
        transition: unset;
    }

    #nav-icons{
        justify-content:center;
    }
    #nav-icons i{
        margin: unset;
        margin-top: .5rem;
        padding: .5rem .75rem;
    }
    .my-loginbtn{
        
        width: 100%;
       
    
    }
    
    






    #carouselIndicators.my-height{
        height: 70vw;
    }
    .my-title-h2{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .my-p-md-025{
        padding: 0.25rem;
    }
    
}
@media (max-width: 640px){
    .my-container {
        max-width: unset;
    }
    .section5 .Heading-pic{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin: 0 auto 0;
     
       
       background-color: rgb(224,231,255);
        
    }
    .flex-640{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
    }
    .section5 svg{
        height: 2.5rem;
        width: 2.5rem;
    }
    .my-mt-640-15{
        margin-top: 1.5rem;
    }
    .order640-2{
        order: unset;
    }
    
}
@media (max-width: 575px){
    .my-logo-container{
        height: 62px;
       
    }
   
    .navbar-toggler.my-orderreset{
        
        height: 62px;
       
    }
   
}